:root {
  --primary-color: beige;
  --secondary-color: rgb(143, 39, 39);
  --hover-color: rgb(205, 109, 109);
}

/*global*/
* {
  margin: 0;
  padding: 0px;
}

body {
  font-family: helvetica;
  background-color: var(--primary-color);
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

p {
  line-height: 1.5;
}

h2 {
  margin-bottom: 20px;
}
/*utilities*/

/*header*/
.site-init {
  height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}

/*navigation*/
.navigation a {
  margin-right: 20px;
  font-weight: bold;
  color: var(--secondary-color);
}

.navigation a:hover {
  color: var(--hover-color);
}
/*main*/
.container {
  width: 85%;
  gap: 20px;
  margin: 10px auto;
}

.dish-month-container {
  display: flex;
  align-items: center;
}
/*dish-month*/

.dish-month {
  padding: 10px;
  width: 60%;
 
}
.salad {
  height: 240px;
  width: 240px;
}

.order-now-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.order-btn {
  color: white;
  background-color: black;
  padding: 5px;
}
