:root {
  --primary-color: rgb(144, 28, 62);
  --secondary-color: rgb(182, 20, 20);
}

html {
  font-size: 62.5%;
}

* {
  margin: 3px;
  padding: 2px;
}

body {
  background-image: url("pics/texture.png");
  background-attachment: fixed;
}

img {
  height: 140px;
  width: 135px;
}

/*Start of Header*/
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-attachment: fixed;
  margin: 10px 10px;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
  font-weight: 400;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .navigation {
    display: none;
  }
}

.navigation a {
  text-decoration: none;
  color: var(--primary-color);
  font-family: "Bonheur Royale", cursive;
  font-size: 3rem;
  margin: 0 5px;
}

.navigation a:hover {
  color: var(--secondary-color);
}

.logo-est {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-family: "Bonheur Royale", cursive;
  font-size: 4rem;
  font-weight: 400;
}

.est {
  font-weight: 400;
  font-size: 2.2rem;
  letter-spacing: 2px;
}

.payment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ccards {
  height: 60px;
  width: 60px;
}
/*End of Header*/

/*Main*/
.main-container {
  width: 100%;
  margin: 10px auto;
  font-family: "Bonheur Royale", cursive;
}

/*why aren't my margins reducing to 3px all around?*/
@media (max-width: 768px) {
  .main-container {
  width: 100%;
  }
}

.dish-of-the-month {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 2rem;
  margin-left auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 0px;
}

@media (max-width: 768px) {
  .dish-of-the-month {
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;
  }
}

.dish-image-wrapper {
  display: flex;
  justify-content: justify-content;
  align-items: center;
  margin-right: 8px;
  position: relative;
}

@media (max-width: 768px) {
  .dish-image-wrapper {
  margin: 4px;
  }
}

.dotm-dish {
  color: seagreen;
  font-weight: 400;
}

.dotm-p {
  min-width: 431.112px;
  max-width: 431.112px;
  width: 431.112px;
  font-size: 2.5rem;
}

.vinigrette-text {
  color: var(--primary-color);
}
