:root {
  --primary-color: rgb(144, 28, 62);
}

.form-wrapper {
  width: 60%;
  border: 1px solid var(--primary-color);
  background-color: white;
  font-family: "Bonheur Royale", cursive;
  font-size: 28px;
  margin: 10px auto;
}
.form-group {
}

.form-header {
  color: white;
  text-align: center;
}

.header-p {
  background-color: var(--primary-color);
}

fieldset {
  border: 1px solid gray;
  margin: 10px;
}

.form-row {
  display: flex;
  justify-content: flex-start;
}

legend {
  font-size: 32px;
}

main {
  width: 75%;
  margin: 10px auto;
}

label {
  margin: 4px;
}
