:root {
  --background-color: antiquewhite;
  --primary-color: rgb(144, 28, 62);
  --hover-color: rgb(182, 20, 20);
  --nav-background-color: rgb(209, 223, 178);
  --price-tag-color: #ff0000;
  --black: black;
  --white: white;
  --seagreen: rgb(114, 210, 155);
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

/*SITE GLOBALS*/
body {
  background-image: url("texture.png");
  /*font-family: "Bonheur Royale", cursive;*/
  font-size: 32px;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  font-size: 28px;
  font-family: "Bonheur Royale", cursive;
}

img {
  height: 70px;
  width: 70px;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

h1 {
  font-size: 3.12rem;
}

h2 {
  font-size: 2.12rem;
}

h3 {
  font-size: 2rem;
}

/*HEADER*/
/*mobile*/
/*@media (max-width: 768px) {
  .header nav {
    display: none;
  }

  body .dish-of-the-month {
    flex-direction: column;
    width: 90%;
  }
}*/

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 20vh;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 768px) {
  .navigation {
    display: none;
  }
}

.navigation a {
  color: var(--primary-color);
  margin-right: 20px;
  font-weight: 400;
}

.navigation a:hover {
  color: var(--hover-color);
}

.payment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ccards {
  width: 105%;
}

.logoSlogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  font-family: "Bonheur Royale", cursive;
  letter-spacing: 3px;
  font-size: 4rem;
  font-weight: 400px;
}

.slogan {
  font-size: 2.2rem;
  letter-spacing: 3px;
  font-weight: 100;
}
/*END HEADER*/

/*MAIN*/
.main-container {
  width: 85%;
  margin: 10px auto;
  gap: 20px;
  font-family: "Bonheur Royale", cursive;
}

@media(min-width: 340px) and (max-width: 772px) {
  width: 100%
  margin: 2px 0px;
}

/*Dish of the Month*/
.dotm-ad {
  font-family: "Bonheur Royale", cursive;
  font-size: 5rem;
  padding: 0px;
  color: var(--primary-color);
  margin-left: 450px;
  margin-top: 60px;
  font-weight: 300;
}

@media (min-width: 481px) and (max-width: 768px) {
  .dotm-ad {
    text-align: center;
    font-size: 5rem;
    margin: 0px;
  }
}

.dish-of-the-month {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
}

.dish-image-wrapper img {
  width: 135px;
  height: 120px;
  margin-top: 40px;
}

@media (min-width: 340px) and (max-width: 768px) {
  .dish-image-wrapper img {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.dotm-blurb {
  padding: 10px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 80px;
  margin-left: -110px;
}

@media (min-width:340px) and (max-width: 768px;) {

}

.dotm-dish {
  color: var(--seagreen);
  margin-left: -210px;
  font-family: "Bonheur Royale", cursive;
  font-size: 32px;
}

@media (max-width: 768px) {
  .dotm-dish {
    text-align: center;
    margin: 0;
  }
}

.dotm-blurb p {
  width: 65%;
  font-size: 24px;
}

.dotm-p {
  font-family: "Bonheur Royale", cursive;
}

@media (max-width: 768px) {
  .dotm-p {
    width: 100%;
  }
}

.order-now-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 10px;
}

.price-tag {
  color: var(--black);
  width: 150px;
  font-size: 1.5rem;

  padding: 10px;
  margin: 0 50px;
}

.tax-text {
  color: var(--hover-color);
  font-size: 32px;
}

.order-btn {
  width: 85px;
  height: 40px;
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 5px;
  margin-right: 65px;
  padding-top: 10px;
}

.order-btn {
  font-family: "Bonheur Royale", cursive;
  font-size: 24px;
  color: var(--white);
  margin-top: 5px;
  text-align: center;
  padding-top: 10px 20px;
}

/*MENU ITEMS*/
.menu-container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: -15px;
}

@media (max-width: 768px) {
  .menu-container {
    grid-template-columns: 1fr;
  }
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.tag {
  color: var(--price-tag-color);
  text-align: center;
  font-size: 28px;
}

.food-size {
  height: 170px;
  width: 190px;
}

.dish-info h3 {
  font-size: 32px;
  font-weight: 300;
}

.reg-menu-price {
  font-size: 32px;
}
